@page "/realtime"

@using BlazorApp1Test.Shared
@using Microsoft.AspNetCore.SignalR.Client

@inject NavigationManager NavigationManager
@inject HttpClient Http

<h3>Flight Data Real Time</h3>

@if (gForceParameters == null)
{
    <p>Loading...</p>
}
else
{
    <table class='table'>
        <thead>
            <tr>
                <th>Tail #</th>
                <th>Accel-X</th>
                <th>Accel-Y</th>
                <th>Accel-Z</th>
                <th>Weight</th>
                <th>Time Recorded</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var gParam in gForceParameters)
            {
                <tr>
                    <td>@gParam.TailNumber</td>
                    <td>@gParam.AccelX</td>
                    <td>@gParam.AccelY</td>
                    <td>@gParam.AccelZ</td>
                    <td>@gParam.TimeRecorded</td>
                </tr>
            }
        </tbody>
    </table>
    <table class='table'>
        <thead>
            <tr>
                <th>Altitude</th>
                <th>Pitch</th>
                <th>Bank</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var aParam in attitudeParameters)
            {
                <tr>
                    <td>@aParam.Altitude</td>
                    <td>@aParam.Pitch</td>
                    <td>@aParam.Bank</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    GForceParameter[] gForceParameters;
    AttitudeParamater[] attitudeParameters;
    private HubConnection hubConnection;

    protected override async Task OnInitializedAsync()
    {
        hubConnection = new HubConnectionBuilder().WithUrl(NavigationManager.ToAbsoluteUri("/flightDataHub")).Build();

        hubConnection.On("ReceiveMessage", () =>
        {
            CallLoadData();
            StateHasChanged();
        });

        await hubConnection.StartAsync();

        await LoadData();
    }

    private void CallLoadData()
    {
        Task.Run(async () =>
        {
            await LoadData();
        });
    }

    protected async Task LoadData()
    {
        gForceParameters = await Http.GetFromJsonAsync<GForceParameter[]>("api/GForceParameters");
        attitudeParameters = await Http.GetFromJsonAsync<AttitudeParamater[]>("api/AttitudeParameters");
        StateHasChanged();

    }

    public bool IsConnected => hubConnection.State == HubConnectionState.Connected;

    public void Dispose()
    {
        _ = hubConnection.DisposeAsync();
    }

    Task SendMessage() => hubConnection.SendAsync("SendMessage");

    protected async Task DeleteData(int id)
    {
        await Http.DeleteAsync("api/GForceParameters/" + id);
        if (IsConnected) await SendMessage();
        StateHasChanged();
        //NavigationManager.NavigateTo("listbooks");
    }
}
